Articles/296/GoogleAPIExample/GoogleDistances.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DistanceMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="origin_address" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:string" name="destination_address" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="status"/>
                    <xs:element name="duration">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="value"/>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="distance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="value"/>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

