Articles/298/download/Flickr Project/Tag.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rsp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="photos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="photo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:long" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="owner" use="optional"/>
                      <xs:attribute type="xs:string" name="secret" use="optional"/>
                      <xs:attribute type="xs:int" name="server" use="optional"/>
                      <xs:attribute type="xs:byte" name="farm" use="optional"/>
                      <xs:attribute type="xs:string" name="title" use="optional"/>
                      <xs:attribute type="xs:byte" name="ispublic" use="optional"/>
                      <xs:attribute type="xs:byte" name="isfriend" use="optional"/>
                      <xs:attribute type="xs:byte" name="isfamily" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="page"/>
            <xs:attribute type="xs:byte" name="pages"/>
            <xs:attribute type="xs:byte" name="perpage"/>
            <xs:attribute type="xs:short" name="total"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="stat"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

